.MainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff8f8;
}

.MainNav-brand i {
  font-size: 1.8em;
}

.MainNav-brand a {
  font-family: "PT Serif", serif;
  text-decoration: none;
  font-size: 1.4em;
  color: black;
}
